@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.success-snackbar {
  --mat-snack-bar-container-color: #2e7d32;
  --mat-snack-bar-supporting-text-color: #fff;
}

.error-snackbar {
  --mat-snack-bar-container-color: #c62828;
  --mat-snack-bar-supporting-text-color: #fff;
}
